.buttons{
    display: flex;
    justify-content: space-between;
    width: initial;
    cursor: pointer;

    @media (max-width: 450px) {
        width: 100%;
    }

    .filter-button{
        display: none;
    
        @media (max-width: 450px) {
            display: flex;
            justify-content: space-between;
            margin: 0% 1%;
            font-size: 14px!important;
            height: 55px;
            border-radius: 50px!important;
            padding-left: 15px;
            padding-right: 15px;
            background: white;
            box-shadow: 0 3px 6px #59595919;
            width: 100%;
            align-items: center;
        }
    }
    
}

.results {
    background-color: #F7F7F7;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5% 0%;
    margin: 3% 0%;

    @media (max-width: 450px) {
        padding: 0px;
    }

    .loop{
        margin: 1% 1%;
        width: 31%;

        @media (max-width: 450px) {
            padding: 0px;
            margin: 2.5% 0%;
            width: 100%;
        }

        .card {
            height: 100%;
            border: none;
            border-radius: 20px;
        
            &:hover {
                cursor: pointer;
                .card-title {
                    color: #f55441;
                }
                box-shadow: 0px 0px 30px #184d47;
                transition: 0.3s;
            }
        
            .img-fluid {
                height: 210px;
                cursor: pointer;
        
                @media (max-width: 450px) {
                    height: 180px;
                }
        
                border-radius: 10px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                width: 100%;
                background: transparent linear-gradient(180deg, #184D4742 0%, #092B24BF 100%) 0% 0% no-repeat padding-box;
            }
        
            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
        
                .card-title {
                    -webkit-transition: all 0.4s ease;
                    -ms-transition: all 0.4s ease;
                    transition: all 0.4s ease;
                    font-family: 'Rubik-bold';
                    font-size: 22px;
            
                    span {
                        color: #FF725F;
                        font-size: 13px;
                    }
            
                }
        
                .card-text {
                    color: #ABABB6;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
            
                    .desc {
                        padding-top: 5px;
                        font-size: 14px;
                        width: 25%;
            
                        @media (max-width: 450px) {
                            width: 50%;
                        }
            
            
                        .img-icon {
                            width: 20px;
                        }
                    }
                }
        
                .space-between{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
        
                    .location {
                        display: block;
                        font-size: 14px;
                        color: #ABABB6;
                        padding-bottom: 10px;
                
                        img {
                            width: 8px;
                            margin-right: 3px;
                        }
                    }
                
                    .date {
                        display: block;
                        font-size: 14px;
                        color: #ababb6;
                        padding-bottom: 10px;
                        img {
                            width: 15px;
                            margin-right: 3px;
                        }
                    }
                }
            }
        }
    }
}



.bage {
    width: 100px;
    // height: 40px;
    background: #184d47;
    position: absolute;
    display: inline-block;
    text-align: center;
    padding-top: 8px;
    border-radius: 5px;
    left: 15px;
    color: #fff;
    top: 15px;
    font-size: 13px;
    line-height: 17px;
    padding-bottom: 7px;

    #mainApp.rtl & {
        left: auto;
        right: 10px;
    }
}

.fav {
    width: 35px;
    height: 32px;
    position: absolute;
    right: 15px;
    cursor: pointer;
    top: 15px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.form-select {
    border-radius: 20px;
    border: 0;
    outline: 0;
    box-shadow: 0px 3px 6px #59595919;
    padding-left: 50px;
}

fa-icon {
    position: absolute;
    top: 12px;
    left: 34px;
}

.main-bar{
    display: flex;
    margin-bottom: 15px;
    flex-direction: row-reverse;
    .btn{
        width: 200px;
        height: 40px;
        line-height: 30px;
    }
}



.search-filters {
    display: flex;
    // margin-top: 20px;

    @media (max-width: 450px) {
        // margin-top: 0px;
    }

    margin-bottom: 30px;
    align-items: baseline;

    &__box {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        flex-wrap: wrap;
        align-items: center;
        margin: 0px 30px 0px 0px;

        @media (max-width: 450px) {
            margin: 0px;
        }
    }

    &__filter {
        // margin-right: 20px;
        position: relative;
        // margin-bottom: 15px;
        &>p{
            margin-bottom: 5px;
            font-size: 14px;
            
        }
        &.search_input{
            width: 20%; 
            @media (max-width: 450px) {
                width: 100% !important; 
            }
        }
        &.city,&.estate_type,&.propose{
            ng-select {
                max-width: 120px;
            }   
        }
        &.area,&.neighborhood{
            ng-select {
                min-width: 300px;
                max-width: 300px;
                width: auto;
                
            }  
            // .ng-input{
            //     display: none !important;
            // }
        }
        

        .icon{
            position: absolute;
            right: 1px;
            width: 35px;
            height: 53px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            bottom: 1px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            pointer-events: none;
            z-index: 1001;
            svg{
                width: 18px;
                height: 18px;
                display: block;
            }
        }


        
        

        ng-select {
            // min-width: 120px;
            // width: 250px;

            
            
            // .ng-select-container{
            //     border-radius: 25px;
            // }
        }


        &.priceRange {
            .setPriceBtn{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                border-radius: 50px!important;
                font-size: 14px!important;
                box-shadow: 0 10px 6px #59595919!important;
                height: 38px;
            }

            input {
                width: 95%;

                @media (max-width: 768px) {
                    width: 95%;
                }

                @media (max-width: 450px) {
                    width: 100%;
                }

                width: 95%;
                display: inline-flex;
                transition: all 0.2s ease;
                margin: 0 4px;
                height: 44px;
                text-align: center;
                border-radius: 10px;
                background-color: rgb(246, 246, 250);
                border: 1px solid rgb(209, 209, 213);
                border-radius: 4px;
                box-sizing: border-box;
                caret-color: #fa5a64;
            }

            .select-price {
                display: block;
                border: none;
                background: transparent;
                text-align: center;
                padding: 5px;
                width: 100%;
                cursor: pointer;
                color: rgb(42, 42, 51);

                &:hover {
                    text-decoration: underline;
                }
            }

            .setPriceBtn {
                background: #fff;
                // border: 1px solid #fa5a64;
                color: #626265;
                outline: none;
                box-shadow: none;
                border-radius: 4px;

                @media (max-width: 768px) {
                    width: 100%;
                    text-align: unset;
                    border: 1px solid #ccc;
                }

                &.dimmed {
                    color: black;
                }
            }

            ul.dropdown-menu {
                margin-top: 5px !important;
                // display: block;
                padding: 10px;
                border-top: none;
                width: 375px;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                border-top-right-radius: 0;
                border-top-left-radius: 0;
                z-index: 1002;
                @media (max-width: 450px) {
                    width: 340px;
                }
            }

            .foot {
                background: #fa5a64;
                padding: 17px;
                color: #fff;
                display: block;
                width: 95%;
                margin: 0 auto;

                button {
                    width: 65px;
                    color: #fa5a64;
                    border: 1px solid #fff;
                    background: #fff;
                }
            }
        }

    }
    .button-success{
        height: 55px;
        border-radius: 50px;
        // position: relative;
        top: 26px;
        // width: 200px;
        @media (max-width:1300px){
            width: 360px;
        }

        fa-icon{
            position: initial;
            display: block;
            width: 35px;
            font-size: 24px;
        }
    }
}

._filter::ng-deep .ng-select-container{
    border-radius: 50px !important;
    font-size: 14px;
    // height: 55px;
    box-shadow: 0 3px 6px #59595919;
}

._filter.multi::ng-deep .ng-select-container .ng-value-container{
    padding-top: 5px;
}

._filter::ng-deep .ng-select-container .ng-value-container .ng-input>input{
    display: none;
}

.ng-select.ng-select-multiple::ng-deep .ng-select-container .ng-value-container .ng-value .ng-value-label{
    font-size: 11px;
}


.ngSelect {
    &.priceRange {
        // width: 15%;
        // min-width: 15%;

        @media (max-width: 450px) {
            // width: 100%;
            // padding: 10px 0px;
        }
            
        input {
            width: 95%;
            @media (max-width: 768px) {
                width: 95%;
            }
            @media (max-width: 450px) {
                width: 100%;
            }
            width: 95%;
            display: inline-flex;
            transition: all 0.2s ease;
            margin: 0 4px;
            height: 44px;
            text-align: center;
            border-radius: 10px;
            background-color: rgb(246, 246, 250);
            border: 1px solid rgb(209, 209, 213);
            border-radius: 4px;
            box-sizing: border-box;
            caret-color: #fa5a64;
        }
        .select-price {
            display: block;
            border: none;
            background: transparent;
            text-align: center;
            padding: 5px;
            width: 100%;
            cursor: pointer;
            color: rgb(42, 42, 51);

            &:hover {
                text-decoration: underline;
            }
        }
        .setPriceBtn {
            // background: #fff;
            // border: 1px solid #fa5a64;
            color: #626265;
            outline: none;
            box-shadow: none;
            border-radius: 4px;
            @media (max-width: 768px) {
                width: 100%;
                text-align: unset;
                border: 1px solid #ccc;
            }
            &.dimmed {
                color: black;
                font-size: 14px;
            }
        }
        ul.dropdown-menu {
            margin-top: 5px !important ;
            // display: block;
            padding: 16px;
            border-top: none;
            width: 326px ;
            height: fit-content !important;
            border-radius: 10px;
            // transform: translate(0px, 36px) !important;
            @media (max-width: 450px) {
                width: 320px;
                margin-top: 5px !important ;
            }
            
            #price_range{
                width: 100%;
                height: 100%;
            }
            
            #textboxes {
                // height: 50px;
                overflow: visible;
                display: flex;
                padding: 10px 0px;
            }

            #from{
                width: 50%;
                height: fit-content;
                padding: 0px 5px;
            }
            
            
            #Rectangle_1314_rbk {
                margin: 0px;
                height: 24px;
                border-radius: 10px;
                border-color: rgba(153,178,175,1);
                color: rgba(153,178,175,1);
                padding-top: 10%;
                padding-bottom: 10%;
                padding-left: 5%;
            }
            
            #to {
                width: 50%;
                height: fit-content;
                padding: 0px 5px;
            }
     
            #Price_range_q {
                font-family: Roboto;
                font-weight: bold;
                font-size: 22px;
                color: #1e4937;
                // margin-bottom: 20%;
            }

            #Price_range_hint{
                font-family: Roboto;
                font-size: 13px;
            }
            
            #slider{
                display: none;
                margin-top: 5%;
                margin-bottom: 5%;
                width: 100%;
            }
         
        }
        .foot {
            background: #fa5a64;
            padding: 17px;
            color: #fff;
            display: block;
            width: 95%;
            margin: 0 auto;
            button {
                width: 65px;
                color: #fa5a64;
                border: 1px solid #fff;
                background: #fff;
            }
        }
    }
}



#dropdownMenuButton1:after{
    opacity: 0;
}

.form-select{
    font-size: 14px !important;
    height: 55px;
    border-radius: 50px !important;
    padding-left: 15px;
    & ~ fa-icon{
        position: absolute;
        top: 17px;
        right: 12px !important;
        background: #Fff;
        width: 16px;
        display: flex;
        left:  initial !important;
    }
}

.rtl{
    .search-filters{
        &__filter{
            margin-right: 0;
            margin-left: 20px;

            @media (max-width:768px){
                margin-left: 0px;
            }

            .icon{
                right: inherit;
                left: 1px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                
            }
        }

        &__box {
            margin: 0px 0px 0px 30px;

            @media (max-width:768px){
                margin: 0px;
            }

        }
    }
    .form-select{
        padding-left: 0px;
        padding-right: 15px;
        & ~ fa-icon{
            right: initial !important;
            left: 12px !important;
        }
    }
}

@media (max-width:1600px){
    .search-filters{
        &__box{
            flex-wrap: wrap;
        }
        &__filter{
            // width: 30%;
            // margin-bottom: 15px;

            border: 1px solid #d6d6d6;
            border-radius: 20px;



            &.city,&.area,&.neighborhood,&.estate_type,&.propose,&.rooms,&.space{
                ._filter{
                    // max-width: none;
                    // min-width: 100%;
                    // max-width: 100%;
                    
                }
            }
            // &.estate_type,&.priceRange{
            //     width: 46%;
            // }
        }

        .compound{
            display: flex; 
            align-items: center;
            font-size: 14px; 
            justify-content: center;
        }

        .button-success{

            span{
                display: none;
            }
        }
    }
}

@media (max-width:1169px){
    .search-filters{
        &__filter{
            width: 45%;
        }
    }
}

@media (max-width:768px){
    .search-filters{
        flex-direction: column;
        align-items: center;
        margin: 0px;


        &__filter{
            width: 48%;
            margin: 2%   1% 2% 1%;

            // border: 0px;
            // border-radius: 20px;

            &.city,&.area,&.neighborhood,&.estate_type{

            }
            &.estate_type,&.priceRange{
                // width: 100%;
            }
        }
        .button-success{
            position: inherit;
            width: fit-content;
            margin-top: 15px;
            display: flex;
            align-items: center;

            span{
                display: initial;
            }
        }

        .compound{
            width: 48%;
        }
    }
}

.breadcrumb{
    justify-content: space-between;
}