#price_range{
    width: inherit;
    height: max-content;
}

#Group_2628_rbg {
    position: absolute;
    width: -webkit-fill-available;
    height: 50px;
    overflow: visible;
}

#Group_2626_rbj {
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0px;
    top: 25px;
    overflow: visible;
}

.Rectangle_1314_rbk {
    width: 140px;
    height: 24px;
    border-radius: 13px;
    border-color: rgba(153,178,175,1);
    color: rgba(153,178,175,1);
}

#EGP_rbm {
    left: 106px;
    top: 0px;
    position: absolute;
    color: rgba(144,144,144,1);
}

#Group_2625_rbn {
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 160px;
    top: 0px;
    overflow: visible;
}
#Group_2624_rbo {
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0px;
    top: 25px;
    overflow: visible;
}

.Rectangle_1315_rbp {
    width: 140px;
    height: 24px;
    border-radius: 13px;
    border-color: rgb(153, 178, 175);
    color: rgb(153, 178, 175);
}

#Price_range_q {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    color: rgba(44,44,44,1);
    // margin-bottom: 20%;
}

#slider{
    margin-top: 7.5%;
    margin-bottom: 5%;
    width: 98%;
}

input{
    padding: 5%;
    font-size: 17px;
}

#btn{
    margin-top: 25%;
    margin-left: 37%;
}

#btn-done{
    width: 65px;
    color: #fa5a64;
    border: 1px solid #fff;
    background: #fff;
}