.login {
    background-color: #F7F7F7;
    padding: 5% 10%;

    .login-area{
        padding: 100px 50px;        
        background: url('../../../../assets/images/joel-filipe-RFDP7_80v5A-unsplash.jpg') 0% 40%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        display: flex;
        justify-content: center;

        .image{
            width: 65%;
        }

        .login-container{
            width: 50%;
            background-color: #f7f7f7;
            border-radius: 10px;
            padding: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            opacity: 1;

            b{
                font-family: Rubik-bold;
                display: block;
                font-size: 29px;
            }

            .login-form{
                width: 100%;

                .submit-btn{
                    display: block;
                    width: 100%;
                    margin-top: 40px;
                    border-radius: 10px;
                    padding: 12px 0;
                }

                .registration{
                    margin: 10% 0px;

                    .name{
                        margin: 20px 0px;
                    }

                    .email{
                        margin: 20px 0px;
                    }

                    .terms{
                        margin: 20px 0px;
                    }
                }

                .avatar{
                    display: block;
                    width: 150px;
                    margin: 0 auto;
                    position: relative;
                    cursor: pointer;

                    .main-img{
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        border: 4px solid #FF725F;
                    }

                    .icon{
                        position: absolute;
                        right: 0;
                        bottom: 31px;
                        background-color: #99b2af;
                        padding: 7px;
                        border-radius: 50%;
                        width: 35px;
                        height: 35px;
                    }
                }

                .resendOTP{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 40px;
                }

                .requestOTP{
                    margin: 15% 5%;
                }

                .verifyOTP{
                    margin: 15% 0px;
                }
            }

            


        }
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .login{
        .login-area{
            .login-container{
                width: 65%;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .login{
        .login-area{
            .login-container{
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 450px) and (max-width: 768px) {
    .login{
        padding: 50px 25px;

        .login-area{
            padding: 50px;
            .login-container{
                width: 100%;
                padding: 50px 25px;
            }
        }
    }
}

@media (max-width: 450px) {
    .login{
        padding: 0;

        .login-area{
            padding: 50px 25px;
            .login-container{
                width: 100%;
                padding: 50px 25px;

                b{
                    font-size: 24px;
                }

                .login-form{
                    .requestOTP{
                        margin: 15% 0%;
                    }
                }
            }
        }
    }
}