.home {

    
    @media screen and (max-width: 1440px) {
        body {
           zoom: 200%;
        }
      }

    @import "../blog/blog.component.scss";
    .first-sec {
        color: #2c2c2c;
        // padding-top: 5%;

        @media (max-width: 425px) {
            margin-top: -110px;
            padding-top: 0%;
        }
        .sm-bg {
            @media (min-width: 768px) {
                height: 450px;
            }
        }
        .home-controls {
            @media (max-width: 768px) {
                z-index: 99;
                // margin-top: -360px;
                text-align: center;
                margin-top: 20px;
                padding-bottom: 0px;

                h1 {
                    padding-top: 9% !important;

                    @media (max-width: 425px) {
                        padding-top: 0% !important;
                    }
                }
            }
            @media (max-width: 425px) {
                margin-top: -278px;
                text-align: center;
            }
            @media only screen and (min-width: 426px) and (max-width: 768px) {
                margin-top: -350px;
            }
            h1 {
                font: normal normal bold Rubik;
                @media (max-width: 768px) {
                    color: #fff;
                    text-align: initial;
                }
                @media (min-width: 768px) {
                    font-size: calc(1.075rem + 2.5vw);
                    padding-top: 4%;
                }
                @media (max-width: 1024px) {
                    font-size: calc(1.375rem + 2.1vw);
                    padding-top: 4%;
                }
                @media (max-width: 768px) {
                    font-size: calc(1.375rem + 2.5vw);
                }
                @media only screen and (min-width: 1025px) and (max-width: 1385px) {
                    font-size: calc(1.075rem + 2.5vw);
                }
            }
            .save{
                font: normal normal normal Rubik;
                letter-spacing: 0px;
                color: #184d47;
                @media (min-width: 768px) {
                    // font-size: calc(1.375rem + 0.5vw);
                    font-size: calc(1.25rem + .25vw);
                    // color: #fff;
                }
                @media (max-width: 768px) {
                    color: #fff;
                    text-align: start;
                }
            }

            .stats{
                display: flex;
                justify-content: space-between;
                margin: 1% 0% 1% 0%;
            
                .center{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .count{
                        color: #fd4965;
                        margin-bottom: 0%;
                        font-size: calc(1.25rem + .25vw);
    
                        @media (max-width:425px) {
                            font-size: calc(1.25rem + -1.05vw);
                        }
                    }
                    .title{
                        font-size: calc(1rem + 0.05vw);
                        margin-top: 0%;
                        
                        @media (max-width:425px) {
                            font-size: calc(1rem + -1.05vw);
                            color: white;
                        }
                    }
                }
                
            }

            .actions {
                @media (max-width: 768px) {
                    // padding: 50px 10px;
                    padding-bottom: 0px;
                    background: #fff;
                    border-radius: 20px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
                @media (min-width: 1024px) {
                    margin-bottom: 190px;
                }
                @media (max-width:425px) {
                    // margin-top: 25px;
                    margin-top: 0%;
                    padding: 15px;
                }
                background-color: #f7f7f7;
                border-radius: 10px 10px 0px 0px;
                margin-top: 3%;
                overflow: hidden;
                .tab {
                    display: inline-block;
                    width: 25%;
                    height: 112px;
                    @media (max-width:425px) {
                        height: fit-content;
                    }

                    position: relative;
                    vertical-align: middle;
                    a {
                        &:hover {
                            & #RENT {
                                fill: #fd5664 !important;
                            }
                        }
                        color: #ababb6;
                        display: inline-block;
                        text-align: center;
                        vertical-align: middle;
                        width: 100%;
                        height: inherit;
                        text-decoration: none;
                        -webkit-transition: all 0.8s ease;
                        -ms-transition: all 0.8s ease;
                        transition: all 0.8s ease;
                        cursor: pointer;
                        @media (max-width: 768px) {
                            width: 89%;
                            background: #f7f7f7;
                            border-radius: 10px;
                            margin: 0 auto;
                            display: grid;
                        }
                        @media (max-width: 425px) {
                            font-size: 12px;
                            height: 72px;
                        }
                        &::before {
                            content: "";
                            border-left: 2px solid #ccc;
                            position: absolute;
                            height: 25%;
                            left: 0;
                            top: 30%;
                            @media (max-width: 768px) {
                                border: none;
                            }
                        }
                        &:hover {
                            &::before {
                                border: none;
                            }
                        }

                        &.ltr {
                            &.buy {
                                border-top-left-radius: 5px;
                            }
                        }
                        &.rtl {
                            border-top-right-radius: 5px;
                            // &.rental {
                            // ::after {
                            //         border: none
                            //     }
                            // }
                        }
                        &.buy {
                            &::before {
                                border: none;
                            }
                        }
                        span {
                            display: block;
                            margin: 0 auto;
                            width: 40px;
                            height: 40px;
                            @media (max-width: 425px) {
                                margin: 6px auto 0px;
                            }
                            @media (max-width: 768px) {
                                svg {
                                    width: 35px;
                                    height: 35px;
                                }
                            }
                            @media (max-width: 320px) {
                                svg {
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                            //35px
                            margin-top: 20px;
                            margin-bottom: 10px;
                            color: #fd5664;
                        }
                        &:hover {
                            opacity: 0.9;
                            color: #fff;
                            span {
                                color: #fff;
                            }
                            background: transparent linear-gradient(180deg, #fd4965 0%, #f55441 100%) 0% 0% no-repeat
                                padding-box;
                        }

                        &.activeTab {
                            & #RENT {
                                fill: #fd5664 !important;
                            }
                            span {
                                color: #fff;
                            }
                            color: #fff;
                            background: transparent
                                linear-gradient(180deg, rgba(253, 73, 101, 1) 0%, rgba(253, 115, 99, 1) 100%) 0% 0%
                                no-repeat padding-box;
                        }
                    }
                }
            }
        }

        .image-sec {
            position: relative;
            padding: 0;
            background: transparent url("../../assets/images/brian-babb-XbwHrt87mQ0.png") 0% 0% no-repeat padding-box;
            @media (max-width: 425px) {
                background-size: contain;
                min-height: 315px;
                filter: brightness(0.6);
            }
            .overlay {
                cursor: auto;
                // &:hover {
                //     background: transparent linear-gradient(180deg, #184d4742 0%, #092b24bf 100%) 0% 0% no-repeat
                //         padding-box;
                // }
            }
        }

        .search-sec {
            z-index: 9;
            min-height: 130px;
            background-color: #fff;
            box-shadow: 0px 3px 6px #2929291a;
            border-radius: 0px 20px 20px 20px;
            margin: auto;
            @media (min-width: 768px) {
                width: 83.3%;
                margin-top: -190px;
                // border-top-left-radius: 0;
                // border-top-right-radius: 0;
                // box-shadow: none;
                // margin-right: 0px;
            }
            margin-top: -180px;

            @media (max-width: 768px) {
                height: auto;
                padding: 25px;
                width: 82.4%;
                margin-left: 8.3%;
                margin-top: 0px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                box-shadow: none;
            }
            @media (max-width: 425px) {
                padding: 0px 11px;
                width: 94.7%;
                margin-left: 2.7%;
            }
            .sell-row,
            
            .buyRent-row{
	            display: flex;
                justify-content: space-between;

                @media (max-width: 425px) {
                    display: block;
                }

                .separator{
                    margin: 0% 0.5%;

                    @media (max-width: 425px) {
                        display: none;
                    }
                }

                .options{
                    width: 70%;

                    @media (max-width: 425px) {
                        width: 100%;
                    }
					
					.all-options{
						display: flex;
						justify-content: space-between;

						@media (max-width: 425px) {
							display: block;
						}
					}
					
					.compound{
                        display: flex;
                        margin: 1%;

                        @media (max-width: 425px) {
                            margin-top: 25px;
                            // margin: 0;
						}

                        .checkbox{
                            @media (max-width: 425px) {
                                width: 7%;
                            }
                        }

                        .dropdown{
                            @media (max-width: 425px) {
                                width: 100%;
                                margin: 0% 1%;
                            }
                            .multiselect{
                                // width: 20%;
                                
                                @media (max-width: 425px) {
                                    width: 100%;
                                }
                            }
                        }

					}
					
                }

                .actions{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                
                    .buttons{
                        margin-top: 5%;

                        @media (max-width: 425px) {
                            margin-top: 0%;
						}
                    }

                    .another-option{
                        cursor: pointer; 
                        display: flex; 
                        justify-content: end; 
                        margin: 5% 0%; 
    
                        .disabled{
                            pointer-events: none;
                            opacity: 0.5;
                            padding: 0% 1% 0% 1%;
                        }
                    }
                }

            }

            .buyRent-search{

                display: flex;
                justify-content: space-between;

                @media (max-width: 425px) {
                    display: block;
                }

                .search_textbox{
                    width: 100%
                }

                .actions{
                    width: 20%;

                    @media (max-width: 425px) {
                        width: 100%;
                    }

                    .another-option{
                        cursor: pointer; 
                        display: flex; 
                        justify-content: end;
                        margin: 1%;

                        @media (max-width: 425px) {
                            justify-content: center;
                        }

                    }
                }

                
            }

            .sellRental-row{
                display: flex;

                @media (max-width: 425px) {
                    display: block;
                }

                .options{
                    width: 80%;

                    @media (max-width: 425px) {
                        width: 100%;
                    }

                    .all-options{
                        display: flex;
                        justify-content: flex-start;

                        @media (max-width: 425px) {
                            display: block;
                            width: 100%;
                        }
                    }

                    .another-option{
                        cursor: pointer; 
                        margin: 1%; 
    
                        .compound{
                            display: flex;

                            margin-top: 0;
                            @media (max-width: 425px) {
                                margin-top: 25px;

                            }
                            .dropdown{
                                @media (max-width: 425px) {
                                    width: 100%;
                                    margin: 0% 1%;
                                }
                            }

                            .checkbox{
                                @media (max-width: 425px) {
                                    width: 7%;
                                }
                            }

                        }
    
                        .disabled{
                            pointer-events: none;
                            opacity: 0.5;
                        }
                    }
                }

                .separator{
                    margin: 0% 2%;

                    @media (max-width: 425px) {
                        display: none;
                    }
                }

                
            }
            
            .rental-row {
                .ngSelect {
                    @media (min-width: 1024px) {
                        min-width: 16.333333%;
                    }
                }
                .applyBtn {
                    width: auto !important;
                    min-width: 200px;
                }
                .description {
                    margin-top: 10px;
                    .lable {
                        font-family: "Rubik-bold";
                        font-size: 16px;
                        color: #2c2c2c;
                        padding: 0 10px;
                        margin: 0;
                        
                        span {
                            font-family: "Rubik-regular";
                            color: #ababb6;
                            display: inline-block;
                        }
                    }
                    textarea {
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid #eee;
                        height: 30px;
                        padding-left: 10px;
                        &:active,
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
            .ngSelect {
                @media (min-width: 1024px) {
                    min-width: 22.333333%;
                    &.main{
                        min-width: 5%;
                    }
                }
                margin-top: 25px;
                .lable {
                    font-family: "Rubik-bold";
                    font-size: 17px;
                    font-size: 16px;
                    color: #2c2c2c;
                    padding: 0px 10px;
                    @media only screen and (min-width: 768px) and (max-width: 1024px) {
                        padding: 0 10px;
                        margin-bottom: 3px;
                        font-size: 12px;
                    }
                    @media (max-width:1200px){
                        font-size: 14px;
                        white-space: nowrap;
                    }
                    // font-variant: all-petite-caps;
                }
                .value {
                    font-size: 11px;
                    padding: 25px 10px;
                }

                .applyBtn {
                    height: 50px;
                    min-width: 150px;
                    border-radius: 10px;
                    margin-left: 5px;
                    margin-right: 5px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                
                    @media (max-width: 768px) {
                        width: 100%;
                        height: 40px;
                    }
                    @media only screen and (min-width: 768px) and (max-width: 1024px) {
                        // width: 100%;
                        // font-size: 10px;
                        // height: 35px;
                    }
                }

                span {
                    font-size: 10px;
                    padding: 0 10px;
                    color: red;
                    margin-top: -1px;
                    display: inherit;
                }
                &.price {
                    input {
                        display: inline-block;
                        width: 80%;
                        border: none;
                        border-bottom: 1px solid #eee;
                        &:focus {
                            outline: unset !important;
                            border-color: #f55441;
                        }
                    }
                    span {
                        font-size: 10px;
                        padding: 0 10px;
                        color: red;
                        margin-top: 6px;
                        display: inherit;
                    }
                }
                &.priceRange {
                    min-width: 21%;
                    // min-width: 15%;
                    
                    input {
                        width: 95%;
                        @media (max-width: 768px) {
                            width: 95%;
                        }
                        @media (max-width: 425px) {
                            width: 100%;
                        }
                        width: 95%;
                        display: inline-flex;
                        transition: all 0.2s ease;
                        margin: 0 4px;
                        height: 44px;
                        text-align: center;
                        border-radius: 10px;
                        background-color: rgb(246, 246, 250);
                        border: 1px solid rgb(209, 209, 213);
                        border-radius: 4px;
                        box-sizing: border-box;
                        caret-color: #fa5a64;
                    }
                    .select-price {
                        display: block;
                        border: none;
                        background: transparent;
                        text-align: center;
                        padding: 5px;
                        width: 100%;
                        cursor: pointer;
                        color: rgb(42, 42, 51);

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .setPriceBtn {
                        // background: #fff;
                        // border: 1px solid #fa5a64;
                        color: #626265;
                        outline: none;
                        box-shadow: none;
                        border-radius: 4px;
                        @media (max-width: 768px) {
                            width: 100%;
                            text-align: unset;
                            border: 1px solid #ccc;
                        }
                        &.dimmed {
                            color: black;
                            font-size: 14px;
                        }
                    }
                    ul.dropdown-menu {
                        margin-top: 25px !important ;
                        // display: block;
                        padding: 16px;
                        border-top: none;
                        width: 326px ;
                        height: 225px !important;
                        border-radius: 10px;
                        // transform: translate(0px, 36px) !important;
                        @media (max-width: 425px) {
                            width: 320px;
                            margin-top: 0px !important ;
                        }
                        
                        #price_range{
                            width: 100%;
                            height: 100%;
                        }
                        
                        #textboxes {
                            height: 50px;
                            overflow: visible;
                            display: flex;
                        }

                        #from{
                            width: 50%;
                            height: fit-content;
                        }
                        
                        
                        #Rectangle_1314_rbk {
                            height: 24px;
                            border-radius: 10px;
                            border-color: rgba(153,178,175,1);
                            color: rgba(153,178,175,1);
                            padding-top: 10%;
                            padding-bottom: 10%;
                            padding-left: 5%;
                        }
                        
                        #to {
                            width: 50%;
                            height: fit-content;
                        }
                 
                        #Price_range_q {
                            font-family: Roboto;
                            font-weight: bold;
                            font-size: 24px;
                            color: #1e4937;
                            // margin-bottom: 20%;
                        }

                        #Price_range_hint{
                            font-family: Roboto;
                            font-size: 13px;
                        }
                        
                        #slider{
                            margin-top: 5%;
                            margin-bottom: 5%;
                            width: 100%;
                        }
                     
                    }
                    .foot {
                        background: #fa5a64;
                        padding: 17px;
                        color: #fff;
                        display: block;
                        width: 95%;
                        margin: 0 auto;
                        button {
                            width: 65px;
                            color: #fa5a64;
                            border: 1px solid #fff;
                            background: #fff;
                        }
                    }
                }
                &.realState {
                    max-width: 14%;
                    @media (max-width: 1610px) {
                        max-width: 19%;
                        min-width: 19%;
                    }
                    @media (max-width: 768px) {
                        max-width: 100%;
                    }
                    // .ng-select {
                    //     width: 85% !important;
                    // }
                }
                &.city {
                    // max-width: 11.99999%;
                    min-width: 14.333333%;
                }
                &.submit_buttons{
                    // min-width: 20%;

                    .continueBtn{
                        min-width: 100%;
                    }
                    width: auto;
                    @media (min-width:1170px) and (max-width:1610px)  {
                        display: flex;
                        min-height: -webkit-fill-available;
                        align-items: center;
                        min-width: fit-content;
                        padding: 0% 1% 0% 1%;
                        justify-content: center;
                        width: 20%;

                        .firstbtn{
                            margin-left: 0;
                            margin-right: 5px;
                        }
                        .applyBtn{
                            height: 45px;
                            font-size: 16px;
                            max-width: 100%;
                            min-width: fit-content;
                            width: 100%;
                        }
                        
                    }
                    // @media (min-width:769px) and (max-width:1169px){
                    @media (max-width:1169px){
                        min-width: 100%;
                        max-width: 100%;
                        margin-top: 15px;
                        margin-bottom: 15px;
                        .applyBtn{
                           width: calc(50% - 15px);
                        }
                        .firstbtn{
                            margin-left: 10px;
                            margin-right: 10px;
                            height: 45px;
                        }
                    }
                    @media (max-width:768px){
                        justify-content: space-between;
                        display: flex;
                        .firstbtn{
                            margin-left: 0;
                            margin-right: 0;
                        }
                        .applyBtn{
                            width: calc(50% - 7px);
                            min-width: fit-content;
                         }
                    }

                    @media (max-width:425px){
                        width: 100%;
                        justify-content: center;
                        display: flex;
                        .firstbtn{
                            margin-left: 0;
                            margin-right: 0;
                        }
                        .applyBtn{
                            width: 100%;
                            min-width: fit-content;
                         }
                    }
                }

                &.search_textbox{
                    width: 100%;
                    padding: 0% 1% 0% 1%;
                    // padding-top: 2%;
                    display: grid;
                    align-items: center;
                    li:hover {
                        background-color: rgb(231, 231, 228);
                    }

                    input{
                        width: inherit; 
                        padding: 1% 5% 1% 5%; 
                        border-radius: 10px; 
                        border: 1px solid #cabcbc;

                        @media (max-width: 425px) {
                            padding: 1% 5% 1% 10%; 
                        }
                    }

                    fa-icon{
                        position: absolute; 
                        left: 1.5%; 
                        right: 1.5%; 
                        top: 25%; 
                        width: fit-content;

                        @media (max-width: 425px) {
                            left: 3%;
                            top: 15%; 
                        }
                    }

                }
            }
        }
    }
    .recently-added {
        padding: 50px 0;

        @media (max-width: 425px) {
            padding: 0;
        }

        background-color: #f7f7f7;
        .back-img {
            min-height: 175px;
            width: 100%;
            border-radius: 20px;
            @media (min-width: 1440px) {
                height: 250px;
            }
            @media (max-width: 1440px) {
                height: 175px;
            }
        }
        .bage {
            width: 100px;
            // height: 40px;
            @media (max-width: 1440px) {
                width: 45%;
                height: 20%;
                font-size: 12px;
                top: 18px;
            }
            @media (max-width: 1024px) {
                width: 79px;
                height: 30px;
                font-size: 10px;
            }
            // @media (max-width: 768px) {
            //     width: 45%;
            //     height: 26%;
            //     font-size: 8px;
            // }
            // @media (max-width: 425px) {
            //     width: 28%;
            //     height: 13%;
            //     font-size: 13px;
            // }
            // @media (max-width: 320px) {
            //     width: 30%;
            //     height: 16%;
            //     font-size: 13px;
            // }

            background: transparent linear-gradient(180deg, rgba(253, 73, 101, 1) 0%, rgba(253, 115, 99, 1) 100%) 0% 0%
                no-repeat padding-box;
            position: absolute;
            display: inline-block;
            text-align: center;
            padding-top: 8px;
            border-radius: 5px;
            left: 15px;
            color: #fff;
            top: 15px;
            font-size: 13px;
            line-height: 17px;
            padding-bottom: 7px;

            #mainApp.rtl & {
                left: auto;
                right: 10px;
            }
        }

        .card {
           
            border: none;
            border-radius: 20px;
            .card-title {
                -webkit-transition: all 0.4s ease;
                -ms-transition: all 0.4s ease;
                transition: all 0.4s ease;
                font-family: 'Rubik-bold';
                font-size: 22px;
        
                span {
                    color: #FF725F;
                    font-size: 13px;
                }
        
            }

            .space-between{
                display: flex;
                justify-content: space-between;
            }
            
            .location {
                display: inline-block;
                font-size: 14px;
                color: #ababb6;
                padding-bottom: 10px;
                // margin-right: 15px;
                // margin-left: 15px;

                img {
                    width: 8px;
                    margin-right: 3px;
                }
            }

            .sep-width{
                display: inline-block;
                width: 15px;
            }

            .date {
                display: inline-block;
                font-size: 14px;
                color: #ababb6;
                padding-bottom: 10px;
                img {
                    width: 15px;
                    margin-right: 3px;
                }
            }

            .card-text {
                color: #ababb6;
                .desc {
                    padding-top: 5px;
                    font-size: 14px;
                    .img-icon {
                        width: 20px;
                    }
                }

                .space-between{
                    display: flex;
                    justify-content: space-between;
                }

                // .col-6{
                //     width: 25 !important;
                // }
            }
            &:hover {
                cursor: pointer;
                .card-title {
                    color: #f55441;
                }
                // .overlay {
                //     background: transparent linear-gradient(180deg, #2b696242 0%, #327064bf 100%) 0% 0% no-repeat
                //         padding-box;
                // }
            }
            .img-fluid {
                border-radius: 10px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                width: 100%;
                background: transparent linear-gradient(180deg, #184D4742 0%, #092B24BF 100%) 0% 0% no-repeat padding-box;
            }

        }

        .fav {
            width: 35px;
            height: 32px;
            position: absolute;
            right: 15px;
            cursor: pointer;
            top: 15px;
            background-color: #fff;
            padding: 5px;
            border-radius: 5px;
        }
        

        .results {
            background-color: #F7F7F7;
        
            .main-row {
                margin-top: 50px;
        
                .result-head {
                    p.float-start {
                        font-family: 'Rubik-bold';
                        font-size: 25px;
                    }
        
                    .form-select {
                        border-radius: 20px;
                        border: 0;
                        outline: 0;
                        box-shadow: 0px 3px 6px #59595919;
                        padding-left: 50px;
                    }
        
                    fa-icon {
                        position: absolute;
                        top: 12px;
                        left: 34px;
                    }
                }
        
                .results {
                    .card-content {
                        border-top-left-radius: 20px;
                        overflow: hidden;
                        border-top-right-radius: 20px;
        
                        &:hover {
                            .card-title {
                                color: #FF725F;
                            }
        
                            // .overlay {
                            //     background: transparent linear-gradient(
                            //         180deg,#2b696242 0%,#327064bf 100%) 0% 0% no-repeat padding-box;
                            // }
                        }
        
                        // .overlay {
                        //     width: 100%;
                        //     display: inline-block;
                        //     position: absolute;
                        //     height: 100%;
                        //     background: transparent linear-gradient(
                        // 180deg,#184D4742 0%,#092B24BF 100%) 0% 0% no-repeat padding-box;
                        //     border-top-left-radius: 20px;
                        //     border-top-right-radius: 20px;
                        //     cursor: pointer;
                        //     -webkit-transition: all 0.4s ease;
                        //     -ms-transition: all 0.4s ease;
                        //     transition: all 0.4s ease;
        
        
                        // }
                    }
        
                    background-color: #F7F7F7;
        
        
        
        
                }
            }
        
        }
    }
    .how-it-works {
        background-color: #f7f7f7;
        padding: 50px 0;

        // @media (max-width: 425px) {
        //     padding: 0;
        // }

        .card {
            text-align: center;
            border: none;
            border-radius: 20px 0px;
            height: 420px;

            .card-text {
                color: #6a6a6a;
            }

            .icons {
                margin: 0 auto;
                background: #f7f7f7;
                display: inline-block;
                padding: 35px;
                border-radius: 50%;
                margin-top: 20px;
                margin-bottom: 35px;
                img {
                    width: 32px;
                    max-height: 35px;
                }
            }

            .card-body {
                padding-bottom: 70px;
                padding-top: 30px;
            }
        }
    }
    .download-app {
        display: flex;
        padding: 8% 6% 10% 6%;

        @media (max-width: 425px) {
            flex-direction: column-reverse;
        }
        .row,
        .col-xs-12 {
            margin: 0px;
            padding-right: 0;
        }
        .custom-padding {
            @media (max-width: 768px) {
                padding: 0px;
                margin: 0px;
            }
        }
        background-color: #f7f7f7;
        // padding: 200px 0px;
        @media (max-width: 1024px) {
            padding-top: 60px;
        }
        @media (max-width: 768px) {
            padding: 750x 0px;
        }
        .left-sec {
            .downlaod {
                display: flex;
                justify-content: center;

                img {
                    width: 220px;
                    @media (max-width: 1024px) {
                        width: 165px;
                    }
                    margin-bottom: 40px;
                    margin-right: 5px;
                    display: inline-block;
                    cursor: pointer;
                    @media (max-width: 768px) {
                        width: 170px;
                    }
                }
            }
        }

        .iphone {
            height: 720px;
            position: absolute;
            right: 5%;
            top: -52%;
            @media (max-width: 1440px) {
                height: 615px;
            }
            @media (max-width: 425px) {
                height: 365px !important;
            }
            @media (max-width: 320px) {
                height: 300px !important;
            }

            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                height: 509px;
                top: -21%;
            }
            @media (max-width: 768px) {
                position: relative;
                height: 440px;
                top: -35% !important;
                left: 36%;
            }
        }

        .description{
            margin-bottom: 120px;

            @media (max-width: 425px) {
                margin-bottom: 35px;
            }
        }

        .app{

            @media (max-width: 425px) {
                margin-bottom: -20%;
            }

            .holder {
                height: 80%;
                overflow: visible;
                position: relative;
                background: transparent linear-gradient(180deg, rgba(253, 73, 101, 1) 0%, rgba(253, 115, 99, 1) 100%) 0% 0%
                    no-repeat padding-box;
                @media (max-width: 768px) {
                    height: 50%;
                }
                .iphone {
                    height: 720px;
                    position: absolute;
                    right: 5%;
                    top: -52%;
                    @media (max-width: 1440px) {
                        height: 615px;
                    }
                    @media (max-width: 425px) {
                        height: 365px !important;
                    }
                    @media (max-width: 320px) {
                        height: 300px !important;
                    }

                    @media only screen and (min-width: 768px) and (max-width: 1024px) {
                        height: 509px;
                        top: -21%;
                    }
                    @media (max-width: 768px) {
                        position: relative;
                        height: 440px;
                        top: -35% !important;
                        left: 36%;
                    }
                }
                .iphone-sm {
                    position: absolute;
                    right: 43%;
                    top: 14%;
                    width: 215px;
                    @media (max-width: 1440px) {
                        width: 163px;
                    }
                    @media (max-width: 768px) {
                        width: 138px;
                        top: 10%;
                    }
                    @media (max-width: 425px) {
                        width: 114px;
                    }
                    @media (max-width: 320px) {
                        width: 94px;
                    }
                }
            }
        }
    }
    .about-alaqaar {
        background: #f7f7f7;
        .main-row {
            margin-top: 50px;

            @media (max-width: 425px) {
                margin-top: 0px;
            }

            padding: 20px 0px;
            background-color: #f1f2f2;
            border-radius: 0px 70px 0px 0px;
            min-height: 400px;

            .image-sec {
                @media (max-width: 768px) {
                    min-height: auto;
                }
            }
            .desc {
                line-height: 2.6;
                @media (max-width: 1440px) {
                    line-height: 1.6;
                }
                @media (max-width: 1024px) {
                    font-size: 11px;
                }
            }
        }
    }

    .alaqaar-blogs{
        padding: 50px 0;
        background-color: #f7f7f7;

        @media (max-width: 425px) {
            padding: 30px 0px 0px 0px;

        }

        .card-body{
            flex: 1 1 auto;
            padding: 1rem 1rem 0 1rem;
        }
        .location {
            display: inline-block;
            font-size: 14px;
            color: #ababb6;
            padding-bottom: 10px;
            // margin-right: 15px;
            // margin-left: 15px;
            img {
                width: 8px;
                margin-right: 3px;
            }
        }
        
        .sep-width{
            display: inline-block;
            width: 15px;
        }

        .date {
            display: inline-block;
            font-size: 14px;
            color: #ababb6;
            padding-bottom: 10px;
            img {
                width: 15px;
                margin-right: 3px;
            }
        }
    
        
    }
}


// .rtl{
//     .home{
//         .applyBtn{
//             &:first-of-type{
//                 margin-left: 0 !important;
//                 margin-right: 5px !important;
//             }
//         }
//     }
// }

