<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="rgba(0, 0, 0, 0.0)"   [fullScreen]="true">
  <img class="spinner-img" style='animation:flip-with-scale 3s infinite;position: relative;top:-100px;' src='../../assets/images/logo-loader.png'/>
</ngx-spinner>

<div #developersDiv class="developers">
    <div class="container--fluid priorities-form">
        <div class="sub-head" >
          <div class="container-fluid">
            <div class="row justify-content-center container-fluid-again">
              <div class="col-xs-12 col-md-10 main-header">
                <div class="bar"> 
                  <div style="display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-evenly;
                    margin: 0% 1.5%;
                    padding: 2% 0%;">
                      
                      <p class="title">{{lang === 'en' ? project['name_en'] : project['name_ar'] }} </p>
                      
                      <span class="location">
                        <fa-icon [icon]="faLocationArrow"></fa-icon>

                        {{lang === 'en' ? project['area_en'] : project['area_ar'] }}, {{lang === 'en' ? project['city_en'] : project['city_ar'] }} 
                    </span>
                      
                      <p class="unit-counts"> ({{ project['units_count'] }} {{'developer.Units_header' | translate}}) </p>
                                            
                      <div class="price-range">
                        <p> {{ project['min_price'] }} {{'propertyDetails.EGP' | translate}}</p> 
                        <p>&nbsp; ~ &nbsp;</p> 
                        <p> {{ project['max_price'] }} {{'propertyDetails.EGP' | translate}} </p>
                      </div>
                      
                    </div> 

                  <div class="button-holder">
                    <button *ngIf="isDeveloperLoggedIn && switcher == 'units'" type="submit" class="btn" (click)="addUnit()" > 
                      {{'developer.addUnit' | translate}}
                    </button>
                  </div>
                  
                </div>
                <p style="display: none;" class="sm-title"><span class="home-tab" [routerLink]="['/']">{{'sell.sub.Home' | translate}}</span> <span> / {{'header.Developers' | translate}}</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row justify-content-center " style="background-color: #F7F7F7;">
            <div class="col-xs-12 col-md-10 main-content">
                <div class="col-xs-12 tab">
                  <div class="btn-group btn-group-toggle switcher responsive" ngbRadioGroup name="radioBasic"
                  [(ngModel)]="switcher">
                    
                    <carousel [height]="45" [cellWidth]="130" [arrows]="false">
                      <div class="carousel-cell">
                        <label ngbButtonLabel class="switch-tab" [class.active]="switcher == 'overview'">
                          <input hidden ngbButton type="radio" value="overview"> {{'developer.Overview' | translate}}
                        </label>
                      </div>
                      <div class="carousel-cell">
                        <label ngbButtonLabel class="switch-tab" [class.active]="switcher == 'units'">
                          <input hidden ngbButton type="radio" value="units"> {{'developer.Units' | translate}}
                        </label>
                      </div>
                      <div class="carousel-cell">
                        <label style="pointer-events: none;" ngbButtonLabel class="switch-tab" [class.active]="switcher == 'reviews'">
                          <input hidden ngbButton type="radio" value="reviews"> Reviews
                        </label>
                      </div>
                      
                    </carousel>
  
                  </div>

                  <div class="btn-group btn-group-toggle switcher website" ngbRadioGroup name="radioBasic"
                  [(ngModel)]="switcher">
                      <label ngbButtonLabel class="switch-tab" [class.active]="switcher == 'overview'">
                        <input hidden ngbButton type="radio" value="overview"> {{'developer.Overview' | translate}}
                      </label>
                      <label ngbButtonLabel class="switch-tab" [class.active]="switcher == 'units'">
                        <input hidden ngbButton type="radio" value="units"> {{'developer.Units' | translate}}
                      </label>
                      <label style="pointer-events: none;" ngbButtonLabel class="switch-tab" [class.active]="switcher == 'reviews'">
                        <input hidden ngbButton type="radio" value="reviews"> Reviews
                      </label>
  
                  </div>

                </div>
              
                <div class="col-xs-12 priorites-list">
                  <div #holder class="col holder">
                    
                    <div *ngIf="switcher === 'overview'" class="container-fluied property-details">
                      <div class="row" style="margin: 0px 15px;">
                          <div class="col-xs-12 col-md-10 main-row">
                              
                              <!-- // images -->
                              <div class="images">
                                  <div class="col-sm-12 col-lg-10">
                                      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                          <div class="carousel-inner">
                                              <div class="switcher">
                                                  <!-- <select [(ngModel)]="activeItem" (change)="onChangeSlider(activeItem)"
                                                      class="form-select form-select-lg mb-3 float-end"
                                                      aria-label=".form-select-lg example" style="width:176px;">
                                                      <option value="" selected><span></span>{{'propertyDetails.All images' | translate}}
                                                      </option>
                                                      <option *ngFor="let item of sliderTags" value="{{item}}" [selected]="item === activeItem">{{item}}</option>
                                                  </select>
                                                  <img class="img-icon" src="../../../../assets/images/photo.svg" alt="..."/> -->
                                                  <span class="count"><span style="color: #FF725F;">{{activeImageId + 1 <= tagLength && activeImageId + 1 !== 0
                                                      ?activeImageId + 1 : 1 }}</span>/{{tagLength}}</span>
                                              </div>
                                              <!-- ngfor loop using get dynamic value and ngclass for add acive class -->
                                              <div *ngFor="let result of sliderData; let i = index" >
                                                  <div [attr.init]="i === activeImageId?setActiveIndex(i): false" class="carousel-item" 
                                                      [ngClass]="{'active': i === activeImageId}">
                                                      <img src={{result.image}} class="slider-img" alt="..."/>
                                                  </div>
                                              </div>
                                          </div>
                                          <button (click)="handleSliderNavigation('back')" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                                              data-bs-slide="prev">
                                              <fa-icon [icon]="faAngleLeft" class="user-icon"></fa-icon>
                                              <span class="visually-hidden">{{'propertyDetails.Previous' | translate}}</span>
                                          </button>
                                          <button (click)="handleSliderNavigation('next')" class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                                              data-bs-slide="next">
                                              <fa-icon [icon]="faAngleRight" class="user-icon"></fa-icon>
                                              <span class="visually-hidden">{{'propertyDetails.Next' | translate}}</span>
                                          </button>
                                      </div>
                                  </div>
                                  
                              </div>

                              <!-- description -->
                              <div class="row details col-lg-10">
                                <span class="head-description"> {{'developer.description' | translate}} </span>

                                {{renderString(project['description'])}}
                                <span id="description" class="sub-head-description"> </span>

                            </div>

                              <!-- master plan -->
                              <div class="row details masterplan col-lg-10">
                                <span class="head-description"> {{'developer.masterplan' | translate}} </span>
                                <span class="sub-head-description">
                                  <img src="{{ project['masterplan'] }}" class="slider-img" alt="..."/>
                                  </span>
                            </div>

                          </div>
                      </div>

                    </div>
                    
                    <div *ngIf="switcher === 'units'">
                      <div class="results" *ngIf="units.length > 0">
                        <div *ngFor="let item of units | paginate: { itemsPerPage: 18, currentPage: page,totalItems: project.units_count }" class="loop">
                            <div class="card">
                                <div style="position: relative;">
                                    <span (click)="navigateToItemDetails(item)" class="overlay"></span>
                                    <span style="cursor: pointer;" (click)="navigateToItemDetails(item)"
                                        class="bage">{{getPropose(item)}}</span>
                                    <img *ngIf="item['isFavorite']" (click)="toggleFavorite(item)" class="fav"
                                        src="../../../../assets/images/Path 165 copy.png" alt="..." />
                                    <img *ngIf="!item['isFavorite']" (click)="toggleFavorite(item)" class="fav"
                                        src="../../../../assets/images/Path 165.png" alt="..." />
                                    <img (click)="navigateToItemDetails(item)"
                                    (auxclick)="openNewWindow($event, item)" src="{{setImagesSrc(item)}}" class="img-fluid" alt="...">
                                </div>
                                
                                <div class="card-body" style="cursor: pointer;" (click)="navigateToItemDetails(item)">  
                                    <h6>
                                        {{ item['title'] }}
                                    </h6>
        
                                    <h5 class="card-title">
                                        {{'propertyDetails.EGP' | translate}}
                                        <!-- <br> -->
                                        {{ numberWithCommas(item['price'])}}
                                    </h5>
                                    
                                    <div class="space-between">
        
                                        <span class="location">
                                            <img src="../../../../assets/images/noun_Location_1911856@2x.png"
                                                alt="..." />
                                            {{lang === 'en' ? item['area_name_en'] : item['area_name_ar']}}
                                        </span>
        
        
                                        <span class="date">
                                            <img src="../../../../assets/images/date.png"
                                                alt="..." />
                                                {{ setDate(item['created_at']) }}
                                        </span>
        
                                    </div>
                                        
                                    <div class="card-text">
                                        <div class="desc" *ngFor="let c of item['criteria'] | slice:0:4">
                                            <img class="img-icon" src="{{getCriteriaImageSrc(c)}}" alt=".." />
                                            {{getCriteriaOptions(c)}}
                                        </div>
                                    </div>
                                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                                </div>
                                
                                
                            </div>
                        </div>
        
                        <pagination-controls style="width: 100%;" (pageChange)="onPageChange($event, developersDiv)" [(ngModel)]="page" ></pagination-controls>
                      </div>

                      <div class="results" *ngIf="units.length === 0">
                        <img class="not-found-image" src="../../../../assets/images/no_projects_units.png" alt="...">

                          <div class="not-found-card" *ngIf="isDeveloperLoggedIn">
                            <span class="not-found"> {{'developer.developer no units1' | translate}} </span>

                            <span class="not-found sub"> {{'developer.developer no units2' | translate}}  </span>

                          </div>

                          <div class="not-found-card" *ngIf="!isDeveloperLoggedIn">
                            <span class="not-found"> {{'developer.no units' | translate}} </span>
                          </div>
                      </div>

                    </div>

                    <div *ngIf="switcher === 'reviews'">

                    </div>
          
                  </div>
                </div>
            </div>
          </div>
    
        </div>
    
    </div>
</div>