<div class="container-fluid">

    <div class="footer justify-content-center pt-5">
            <div class="responsive">
                <div class="image">
                    <span class="logo">
                        <img src="../../../../assets/images/logo_header.png" alt="..." />

                    </span>
                    
                    <div class="the-first-platform-that-offer1">
                        {{ 'footer.description' | translate }}
                      </div>
                    
                    <div class="social-links col">
                        <span (click)="navigateToFacebook()" class="fb"></span>
                        <span (click)="navigateToInstagram()" class="ig"></span>
                        <span (click)="navigateToTwitter()" class="tw"></span>
                        <span (click)="navigateToYoutube()" class="you"></span>
                        <span (click)="navigateToLinkedin()" class="ln"></span>
                       
                    </div>
                </div>
                <div class="links">
                    <h3> {{'footer.Important Links' | translate}}</h3>
                    
                    <div class="flex">
                        <p> <a routerLink='/how-it-works'>{{'footer.How it works?' | translate}}</a></p>
                        <p><a routerLink='/about'>{{'footer.About us' | translate}}</a></p>
                    </div>
                    
                    <div class="flex">
                        <p><a routerLink='/terms-condition'>{{'footer.Terms & Conditions' | translate}}</a></p>
                        <p><a routerLink='/blog'>{{'footer.Blog' | translate}}</a></p>
                    </div>

                </div>
                <div class="services">
                    <h3> {{'footer.Services' | translate}}</h3>
                    <div class="flex">
                        <p> <a routerLink=''>{{'footer.Buy' | translate}}</a></p>
                        <p><a routerLink=''>{{'footer.Rent' | translate}}</a></p>
                        <p><a routerLink=''>{{'footer.Sell' | translate}}</a></p>
                        <p><a routerLink=''>{{'footer.Rental' | translate}}</a></p>
                    </div>
                </div>
                <div class="contacts">
                    <h3> {{'footer.Contact' | translate}}</h3>
                    <div class="flex">
                        <p> {{contacts.contact_phone}} </p>
                        <p> {{contacts.contact_email}} </p>
                    </div>
                </div>
                <div class="download">
                    
                    <h3 style="margin-bottom: 0px;"> {{'home.Download app.title' | translate}} </h3>
                    
                    <div class="row left-sec justify-content-center">
                        <div class="col downlaod" style="margin: 5% 0%; display: flex;
                        flex-direction: column;
                        align-items: center;">
                            <div style="display: flex; justify-content: center;">
                                <!-- (click)="navigateToAppStore()" -->
                                <img src="../../../../assets/images/ios.png"
                                alt="..." />
                                <!-- (click)="navigateToGooglePlay()" -->
                                <img src="../../../../assets/images/googleplay.png"
                                    alt="..." />
                            </div>

                            <!-- <p style="color: #fd4c65; font-size: larger; font-weight: 700; margin: 5%;"> {{'footer.coming_soon' | translate}} </p> -->
                            <div style="    display: flex;
                            padding: 5px 5px;
                            color: white;
                            align-content: center;
                            justify-content: center;
                            background: #184d47;
                            border-radius: 5px;
                            margin: 5% 0%;
                            width: fit-content;">
                                
                            {{'footer.coming_soon' | translate}}
                                <!-- {{'header.Add property' | translate}} -->
                            </div>
                        </div>

                        <div class="col downlaod" style="display: none;">
                            <img style="width: 50%;" src="../../../../assets/images/coming_soon.jpg" alt="..." />
                        </div>

                    </div>
       
                </div>

            </div>
            <hr class="line-break">
            <img style="width:200px;margin-bottom: 10px;" src="../../../../assets/images/Group 1347@2x.png" alt="..."/>
        </div>
</div>