<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="rgba(0, 0, 0, 0.0)"   [fullScreen]="true">
    <img class="spinner-img" style='animation:flip-with-scale 3s infinite;position: relative;top:-100px;' src='../../assets/images/logo-loader.png'/>
    
</ngx-spinner>
<div class="container single-blog">
    <div class="sub-head"> </div>
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-10 main-content">
                <div class="head">
                    <p>
                        <span></span> {{ activeLang === 'en' ? singleBlog['tag_name_en'] : singleBlog['tag_name_ar']}}
                    </p>
                    <h2> {{ activeLang === 'en' ? singleBlog['title_en'] : singleBlog['title_ar'] }}</h2>
                    <div class="row card-foot mt-5">
                        <div class="col-xs-12 col-md-6 date">
                            <div class="row">
                                <div class="col">
                                    <div style="display: inline-block;padding-right: 25px;color: #99B2AF;">
                                        <img src="../../../../assets/images/Calendar copy.png" alt="..."/>
                                       {{singleBlog['created_at']}}
                                    </div>
                                    <!-- <div style="display: inline-block;padding-right: 25px;color: #99B2AF;">
                                        <img src="../../../../assets/images/Show.png" alt="..."/>
                                        {{singleBlog['views']}} {{'blog.sub.View' | translate}}
                                    </div> -->
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 col-md-6 links">
                            <div class="social-links col-xl-8 col-12 float-end">
                                <a (click)="shareToFacebook()"> <span class="fb"></span></a>
                                <a (click)="shareToTwitter()"> <span class="tw"></span></a>
                                <a (click)="shareToWhatsaap()" style="padding: 3px 8px;">
                                    <fa-icon class="wh" [icon]="faWhatsappSquare"></fa-icon>
                                </a>
                                <a (click)="shareToLinkedin()"> <span class="ln"></span></a>
                                <a (click)="copyUrl()"> <span class="cpy"></span></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-10 ">
                <div class="row">
                    <div class="col-12 desc" style="display: none;">
                        <p style="color: #707070;">
                            {{ activeLang === 'en' ? singleBlog['title_en'] : singleBlog['title_ar'] }}
                        </p>
                        <div>
                            <img src="../../../../assets/images/Ellipse 1264.png" alt="..."/>
                            <span class="title">{{singleBlog['username']}}
                                <br>
                                <span class="sm">Evaluator@Alaaqar</span>
                            </span>

                        </div>
                    </div>
                </div>
                <div class="row single-row">
                    <p class="sec-title"> {{ activeLang === 'en' ? singleBlog['title_en'] : singleBlog['title_ar'] }}</p>
                    <div>
                        <img src="{{ singleBlog['image'] }}" alt="..."/>
                        <p class="description" [innerHTML]="activeLang === 'en' ? singleBlog['description_en'] : singleBlog['description_ar'] ">
                            <!-- {{renderText(singleBlog['description'])}} -->
                        </p>
                    </div>

                    <div class="col-xs-12 actions">
                        <div *ngIf="singleBlog['isView'] && singleBlog['isView'] === '1'" class="view">
                            <span style="font-family: 'Rubik-bold'; font-weight: bolder; width: max-content;"> {{'blog.view' | translate}} </span>

                            <button (click)="view()"
                                class="btn button-bordered view_button">
                                {{'blog.sub.View' | translate}}
                            </button>
                        </div>
                        

                        <div *ngIf="singleBlog['isForm'] && singleBlog['isForm'] === '1'" class="form">
                            <span style="font-family: 'Rubik-bold'; font-weight: bolder;"> {{'blog.form' | translate}} </span>

                            <div class="form_input">
                                <div class="input_text">
                                    <input [(ngModel)]="form_name" (input)="changeName()" type="text" placeholder="{{'contactus.Name' | translate}}">
                                    <fa-icon [icon]="faUser"></fa-icon>
                                    <span *ngIf="!isValidName"> {{'validation.This Filed Is Required!' | translate}} </span>
                                </div>
        
                                <div class="input_text">
                                    <input [(ngModel)]="form_phone" (input)="changePhone()" type="text" placeholder="{{'contactus.Phone' | translate}}">
                                    <fa-icon [icon]="faPhone"></fa-icon>
                                    <span *ngIf="!isValidPhone"> {{'validation.This Filed Is Required!' | translate}} </span>
                                </div>
        
                                <button (click)="requestForm(alert)"
                                    class="btn button-success applyBtn request_button"> 
                                    <!-- {{'electronic_consultant' |  translate}} -->
                                    {{ activeLang === 'en' ? singleBlog.button_name_en : singleBlog.button_name_ar }}
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #alert let-c="close" let-d="dismiss">
        <div class="modal-header">
            <div style="width: 100%;">
                <p *ngIf="response_status" style="font-family: 'Rubik-medium';color: #ff725f;">
                    {{ 'blog.success' |  translate }}
                </p>

                <p *ngIf="!response_status" style="font-family: 'Rubik-medium';color: #ff725f;">
                    {{ 'blog.fail' |  translate }}
                </p>
            </div>
        </div>
        <div class="modal-body">
            <p *ngIf="response_status" style="text-align: center;">
                {{ 'blog.success_message' |  translate }}
            </p>

            <p *ngIf="!response_status" style="text-align: center;">
                {{ 'blog.fail_message' |  translate }}
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-save" (click)="modalService.dismissAll()">{{'button.actions.Done' |
                translate}}</button>
        </div>
    </ng-template>
</div>