

.single-blog {
    margin: 60px auto;
    background: #F7F7F7;
    padding: 0;
        .sub-head {
            border-radius: 20px;
            overflow: hidden;
        }
    
        .main-content {
            margin-top: -175px;
            padding-bottom: 35px;
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 0px 3px 6px #59595919;
    
            .head {
                padding: 15px;
               p{
                padding: 5px 0px;
                color: #FF725F;
                span {
                    width: 15px;
                    height: 17px;
                    display: inline-block;
                    background-color: #FF725F;
                    margin-right: 10px;
                }
               }
            }
            .social-links {
               a {
                width: 40px;
                height: 40px;
                display: inline-block;
                padding: 9px;
                background-color: #F7F7F7;
                margin: 0px 4%;
                border-radius: 50%;
                cursor: pointer;
               }
                span {
                    display: inline-block;
                    opacity: 1;
                    width: 24px;
                    height: 24px;
                    padding: 0px 24px;
                    &.fb {
                        background: transparent url('../../assets/images/facebook-fill.svg') 0% 0% no-repeat padding-box;
                    }
                    &.ig {
                        background: transparent url('../../assets/images/instagram-line.svg') 0% 0% no-repeat padding-box;
                    }
                    &.tw {
                        background: transparent url('../../assets/images/twitter-fill.svg') 0% 0% no-repeat padding-box;
                    }
                    &.ln {
                        background: transparent url('../../assets/images/linkedin-box-fill.svg') 0% 0% no-repeat padding-box;
                    }
                    &.cpy {
                        background: transparent url('../../../../assets/images/Path%20161.svg') 0% 0% no-repeat padding-box;
                        background-size: contain;
                    }
        
                }
                .wh {
                    color: #00AF5E;
                    font-size: 24px;
                    text-align: center;
                    height: 25px;
                    width: 25px;
                    display: inline-block;
                    vertical-align: super;
                }
                
            }
        }

        .desc {
            margin-top: 30px;
            border-left: 2px solid #FF725F;
            img {
                width: 64px;
                height: 64px;
                display: inline-block;
            }
            .title {
                font-family: "Rubik-bold";
                margin: 11px 10px;
                display: inline-block;
                vertical-align: top;
            }
            .sm {
                font-family: "Rubik-Regular";
                font-size: 13px;
                color: #A9A9A9;
            }
        }
        .single-row {
            margin-top: 50px;
            .sec-title {
                font-family: "Rubik-bold";
                font-size: 25px;
            }
            img {
                display: block;
                width: 100%;
                height: 400px;
                border-radius: 20px;
                margin: 20px auto;
                @media (max-width:1024px) {
                    height: auto;
                }
            }
            .description {
                color: #2C2C2C;
                padding: 20px 0px;
            }
        }

    }