<div class="container--fluid priorities-form">
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
  <div class="sub-head">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-md-10 ">
          <p class="title"> {{ setupTabTitle() }}</p>
          <p class="sm-title"><span class="home-tab" [routerLink]="['/']">{{'sell.sub.Home' | translate}}</span> <span>/ {{'sell.sub.sell' | translate}}</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center " style="background-color: #F7F7F7;">
      <div class="col-xs-12 col-md-10 main-content">
        <div class="row">
          <div class="col-xs-12 col-xl-8 priorites-list">
            <div class="col holder mt-3">
              <div class="row justify-content-center">
                <div class="row head-section">
                  <p class="title-head col-6 float-start">{{'sell.Go to the best buyer' | translate}}</p>
                  <p class=" title-head col-6">
                    <span class="float-end">{{'sell.Step' | translate}} 1/4</span>
                  </p>
                  <div class="progress-bars col-12">
                    <div class="row">
                      <div class="col d-none d-lg-block" [class.active-sm]="currentStep === 1">
                        <span class="man-icon" [class.active]="currentStep === 1">
                          <img src="../../../../assets/images/Path 508.svg" alt="..."/> 25%
                        </span>
                        <div class="progress" [class.done]="currentStep > 1">
                          <div class="progress-bar one" role="progressbar" style="width: 100%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col d-none d-lg-block" [class.active-sm]="currentStep === 2">
                        <span class="man-icon" [class.active]="currentStep === 2">
                          <img src="../../../../assets/images/Path 508.svg" alt="..."/> 50%
                        </span>
                        <div class="progress" [class.done]="currentStep > 2">
                          <div class="progress-bar two" role="progressbar" style="width: 100%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                      </div>
                      <div class="col d-none d-lg-block" [class.active-sm]="currentStep === 3">
                        <span class="man-icon" [class.active]="currentStep === 3">
                          <img src="../../../../assets/images/Path 508.svg" alt="..."/> 75%
                        </span>
                        <div class="progress" [class.done]="currentStep > 3">
                          <div class="progress-bar three" role="progressbar" style="width: 100%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col d-none d-lg-block" [class.active-sm]="currentStep === 4">
                        <span class="man-icon" [class.active]="currentStep === 4">
                          <img src="../../../../assets/images/Path 508.svg" alt="..."/> {{validateSubmit() ? '95' : '100'}}% 
                        </span>
                        <div class="progress" [class.done]="!validateSubmit()">
                          <div class="progress-bar four" role="progressbar" style="width: 100%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col-1 col-image d-none d-lg-block">
                        <img src="../../../../assets/images/one-man-walking-svgrepo-com.svg" alt="..."/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ng-stepper #cdkStepper [linear]="false">
                <cdk-step [stepControl]="stepOne.stepForm" [optional]="false">
                  <ng-template cdkStepLabel>
                  </ng-template>
                  <sell-form-template #stepOne></sell-form-template>
                </cdk-step>

                <cdk-step [stepControl]="stepTwo.stepForm" [optional]="false">
                  <ng-template cdkStepLabel>
                  </ng-template>
                  <sell-form-template #stepTwo></sell-form-template>
                </cdk-step>

                <cdk-step [stepControl]="stepThree.stepForm" [optional]="false">
                  <ng-template cdkStepLabel>
                  </ng-template>
                  <sell-form-template #stepThree></sell-form-template>
                </cdk-step>

                <cdk-step [stepControl]="stepFour.stepForm" [optional]="false">
                  <ng-template cdkStepLabel>
                  </ng-template>
                  <sell-form-template #stepFour></sell-form-template>
                </cdk-step>
              </ng-stepper>
            </div>
          </div>
          <div class="col-xs-12 col-xl-4 priorites-control d-none d-xl-block">

            <div class="col mt-3">
              <ngb-accordion #myaccordion="ngbAccordion" (panelChange)="beforeChange($event)" [closeOthers]="true"
                activeIds="{{activeIds}}">
                <ngb-panel id="tab-1">
                  <ng-template ngbPanelTitle>
                    <b style="width: 95%;display: inline-block;">{{activeLang === 'en' ? criteriaParent[0] : ArCriteriaParent[0]}}</b> 
                     <fa-icon class="up" [icon]="faChevronUp"></fa-icon> 
                     <fa-icon class="down" [icon]="faChevronDown"></fa-icon> 
                </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="row justify-content-center results">
                      <div class="content">
                        <div class="row mt-4">
                          <div [class.mb-4]="i < 3" class="col-4"
                            *ngFor='let item of getCurrentActiveForm("1") | keyvalue;let i =index;'>
                            <div class="regular">
                              <span class="before">
                                <img src="{{getIconUrl('1', item.key)}}" alt="...">
                              </span>
                              <div class="list">
                                <span *ngFor="let val of getPriorityFormValue(item.value)">
                                  {{ val.value ? val.value : activeLang === 'en' ? val.name_en:val.name_ar }}
                                </span><br>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
                <ngb-panel [disabled]="disableTab2" id="tab-2">
                  <ng-template ngbPanelTitle>
                    <b style="width: 95%;display: inline-block;">{{activeLang === 'en' ? criteriaParent[1] : ArCriteriaParent[1]}}</b> 
                     <fa-icon class="up" [icon]="faChevronUp"></fa-icon> 
                     <fa-icon class="down" [icon]="faChevronDown"></fa-icon> 
                </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="row justify-content-center">
                      <div class="row justify-content-center results">
                        <div class="content">
                          <div class="row mt-4">
                            <div [class.mb-4]="i < 3" class="col-4"
                              *ngFor='let item of getCurrentActiveForm("2") | keyvalue;let i =index;'>
                              <div class="regular">
                                <span class="before">
                                  <img src="{{getIconUrl('2', item.key)}}" alt="...">
                                </span>
                                <div class="list">
                                  <span *ngFor="let val of getPriorityFormValue(item.value)">
                                    {{ val.value ? val.value : activeLang === 'en' ? val.name_en:val.name_ar }}
                                  </span><br>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
                <ngb-panel [disabled]="disableTab3" id="tab-3">
                  <ng-template ngbPanelTitle>
                    <b style="width: 95%;display: inline-block;">{{activeLang === 'en' ? criteriaParent[2] : ArCriteriaParent[2]}}</b> 
                     <fa-icon class="up" [icon]="faChevronUp"></fa-icon> 
                     <fa-icon class="down" [icon]="faChevronDown"></fa-icon> 
                </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="row justify-content-center">
                      <div class="row justify-content-center">
                        <div class="row justify-content-center results">
                          <div class="content">
                            <div class="row mt-4">
                              <div [class.mb-4]="i < 3" class="col-4"
                                *ngFor='let item of getCurrentActiveForm("3") | keyvalue;let i =index;'>
                                <div class="regular">
                                  <span class="before">
                                    <img src="{{getIconUrl('3', item.key)}}" alt="...">
                                  </span>
                                  <div class="list">
                                    <span *ngFor="let val of getPriorityFormValue(item.value)">
                                      {{ val.value ? val.value : activeLang === 'en' ? val.name_en:val.name_ar }}
                                    </span><br>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
                <ngb-panel [disabled]="disableTab4" id="tab-4">
                  <ng-template ngbPanelTitle>
                    <b style="width: 95%;display: inline-block;">{{activeLang === 'en' ? criteriaParent[3] : ArCriteriaParent[3]}}</b> 
                     <fa-icon class="up" [icon]="faChevronUp"></fa-icon> 
                     <fa-icon class="down" [icon]="faChevronDown"></fa-icon> 
                </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="row justify-content-center">
                      <div class="row justify-content-center results">
                        <div class="content">
                          <div class="row mt-4">
                            <div [class.mb-4]="i < 3" class="col-4"
                              *ngFor='let item of getCurrentActiveForm("4") | keyvalue;let i =index;'>
                              <!-- {{item | json}} -->
                              <div class="regular" *ngIf="item.key !== 'Unit photos'">
                                <span class="before">
                                  <img src="{{getIconUrl('4', item.key)}}" alt="...">
                                </span>
                                <div class="list">
                                  <span *ngFor="let val of getPriorityFormValue(item.value)">
                                    {{ val.value ? val.value : activeLang === 'en' ? val.name_en:val.name_ar }}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
              
            </div>
            <div class="button">
              <button (click)="back()" [disabled]="currentStep === 1"
                class="button btn button-success next-back sub-action">{{'button.actions.Back' | translate}}</button>
              <button *ngIf="validateSubmit()" (click)="next()" [disabled]="validateNext()"
                class="button btn button-success">{{'button.actions.Next' | translate}} </button>
              <button *ngIf="!validateSubmit()" [disabled]='validateSubmit()' class="btn button-success"
                (click)="doSearchQuery()">{{'button.actions.Review' | translate}}</button>
            </div>

          </div>
          <div class="row d-block d-xl-none" style="min-height: 90px;">
            <div class="col-6"></div>
            <div class="button col-sm-6 col-xs-12 float-end">
              <button (click)="back()" [disabled]="currentStep === 1"
                class="button btn button-success next-back sub-action">{{'button.actions.Back' | translate}}</button>
              <button *ngIf="validateSubmit()" (click)="next()" [disabled]="validateNext()"
                class="button btn button-success float-end">{{'button.actions.Next' | translate}} </button>
              <button *ngIf="!validateSubmit()" [disabled]='validateSubmit()' class="btn button-success float-end"
                (click)="doSearchQuery()">{{'button.actions.Review' | translate}}</button>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>