<div class="container-fluid contactus">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="rgba(0, 0, 0, 0.0)"   [fullScreen]="true">
        <img class="spinner-img" style='animation:flip-with-scale 3s infinite;position: relative;top:-100px;' src='../../assets/images/logo-loader.png'/>
    </ngx-spinner>
    <div class="sub-head">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-md-10 ">
                    <p class="title"> {{'contactus.title' | translate}}</p>
                    <p class="sm-title"><span class="home-tab" [routerLink]="['/']">{{'contactus.sub.Home' | translate}}</span> <span> / {{'contactus.sub.contact us' | translate}}</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #F7F7F7;">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-10 col-lg-8 main-content">
                <div class="get-in-touch">
                    <h2 style="padding-bottom: 15px;">
                        <span class="top"></span>
                        {{'contactus.Get in touch' | translate}} 
                    </h2>
                    <p>
                        {{'contactus.How can we help you? we are here for you!' | translate}}
                    </p>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <form [formGroup]="contactForm" class="contactForm">
                                <div class="nput-group mb-3">
                                    <label for="name" class="form-label">{{'contactus.Name' | translate}}</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend">
                                            <fa-icon [icon]="faUser" class="user-icon"></fa-icon>
                                        </span>
                                        <input formControlName="name" type="text" class="form-control" id="name"
                                            aria-describedby="inputGroupPrepend" required>
                                    </div>
                                </div>
                                <div class="nput-group mb-3">
                                    <label for="validationCustomUsername" class="form-label">{{'contactus.Email' | translate}}</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend">
                                            <fa-icon [icon]="faEnvelope" class="user-faEnvelope"></fa-icon>
                                        </span>
                                        <input formControlName="email" type="text" class="form-control"
                                            id="validationCustomUsername" aria-describedby="inputGroupPrepend">
                                    </div>
                                </div>
                                <div class="nput-group mb-3">
                                    <label for="validationCustomUsername" class="form-label">{{'contactus.Phone' | translate}}</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend">
                                            <fa-icon [icon]="faPhone" class="user-faEnvelope"></fa-icon>
                                        </span>
                                        <input formControlName="phone" type="text" class="form-control"
                                            id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                                    </div>
                                </div>
                                <div class="nput-group mb-3">
                                    <label for="validationCustomUsername" class="form-label">{{'contactus.Message' | translate}}</label>
                                    <div class="input-group has-validation">
                                        <textarea rows="7" formControlName="message" type="text" class="form-control"
                                            id="validationCustomUsername"
                                            aria-describedby="inputGroupPrepend"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button [disabled]="contactForm.invalid"
                                        (click)="submit()" class="button-success" type="submit">{{'button.actions.Submit' | translate}}</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 info">
                                    <div *ngIf="country_id === 1">
                                        <span>
                                            <fa-icon [icon]="faPhone" class="user-phone"></fa-icon>
                                        </span>
                                      {{contacts.contact_phone}}

                                    </div>
                                    <div>
                                        <span>
                                            <fa-icon [icon]="faEnvelope" class="user-faEnvelope"></fa-icon>
                                        </span>
                                        {{contacts.contact_email}}

                                    </div>
                                    <div *ngIf="country_id === 1">
                                        <span>
                                            <fa-icon [icon]="faWhatsappSquare"></fa-icon>
                                        </span>
                                        {{contacts.contact_whatsapp}}

                                    </div>
                                    <div>
                                        <span>
                                            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                                        </span>
                                        {{ getLocation() }}

                                    </div>

                                </div>
                                <div class="col-xs-12">
                                    <div *ngIf="country_id === 1" class="map">
                                        <div class="mapouter"><div class="gmap_canvas"><iframe width="383" height="325" id="gmap_canvas" src="https://maps.google.com/maps?q=%D8%A7%D9%84%D9%82%D8%B1%D9%86%D9%81%D9%84%20%D8%A7%D9%84%D8%AA%D8%AC%D9%85%D8%B9%20%D8%A7%D9%84%D8%AE%D8%A7%D9%85%D8%B3&t=&z=15&ie=UTF8&iwloc=&output=embed" 
                                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net"></a><br><style>.mapouter{position:relative;text-align:right;height:325px;width:383px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:325px;width:383px;}</style></div></div>
                                    </div>

                                    <div *ngIf="country_id === 2" class="map">
                                        <div class="mapouter"><div class="gmap_canvas"><iframe width="383" height="325" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2847.143313923895!2d46.63908431051544!3d24.82950627677308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2ee4f2fef5158d%3A0x1397a8fd2685b717!2sBSC!5e0!3m2!1sen!2seg!4v1681654636800!5m2!1sen!2seg" 
                                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net"></a><br><style>.mapouter{position:relative;text-align:right;height:325px;width:383px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:325px;width:383px;}</style></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>