

.contactus {
    padding: 0;
        .main-content {
            margin-bottom: 50px;
            margin-top: -175px;
            padding-bottom: 35px;
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 0px 3px 6px #59595919;
    
            .get-in-touch {
                padding: 30px;
                margin-bottom: 30px;
            }
        }

        form {
            border-right: 1px solid #eee;
             padding-right: 20px;
            .nput-group {
                .form-label {
                    color: #A9A9A9;
                }
                .input-group-text {
                    color: #99B2AF;
                    border-color: #A9A9A9;
                    border-radius: 10px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                .form-control {
                    border-color: #A9A9A9;
                    border-radius: 10px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;

                    &.ng-touched {
                        &.ng-invalid  {
                            background-color: rgb(255 0 0 / 7%);
                        }
                    }
                }
                textarea {
                    border-radius: 10px !important;
                }
            }
        }
        .info {
            div {
                margin-top: 20px;
                span {
                    color: #FD7363;
                    padding-right: 5px;
                    font-size: 20px;
                }

            }
        }
        .map {
            margin-top: 10px;
            // border-radius: 20px;
            overflow: hidden;
        }

    }